<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tracker Jawn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>428021B31EC8D6FE003E8F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428021C71EC8D6FE003E8F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428021D21EC8D6FE003E8F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
